:root{
  --ad-main-blue:#2c3e50;
  --ad-main-green:#1abc9c;
}

/* utilities */

[class^="container"],
[class^="col"]{
  border: 1px solid black;
  min-height: 90px;
}

.ad_text-bg_primary{
  color: white;
  background-color: var(--ad-main-blue);
}

.ad_text-bg_secondary{
  color: white;
  background-color: var(--ad-main-green);
}

/* header */

header{
  height: 90px;
}

/* main */

#start h1.title_md{
  font-size: 3.5rem;
}

#start .star span{
  width: 4rem;
}

/* media queries */

/* tablet */
@media screen and (min-width: 768px){
  #start .star span{
    width: 8rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px){
  #start .star span{
    width: 10rem;
  }
}