:root{
  --ad-main-blue:#2c3e50;
  --ad-main-green:#1abc9c;
}

h2{
  font-size: 3rem;
}

/* utilities */

[class^="container"],
[class^="col"]{
  border: 1px solid black;
  min-height: 90px;
}

.ad_text-bg_primary{
  color: white;
  background-color: var(--ad-main-blue);
}

.ad_text-bg_secondary{
  color: white;
  background-color: var(--ad-main-green);
}

.ad_form input::placeholder,
.ad_form textarea::placeholder{
  color: var(--ad-main-blue);
  font-weight: 600;
}

.ad_form input:focus,
.ad_form textarea:focus{
  box-shadow: none;
  outline: none;
}

.ad_form button{
  background-color: var(--ad-main-green);
}

.ad_form button:hover{
  background-color: var(--ad-main-green);
  opacity: .9;
}

/* header */

header{
  height: 90px;
}

/* main */

#jumbotron h2.title_md{
  font-size: 3.5rem;
}

.star span{
  width: 4rem;
}

/* media queries */

/* tablet */
@media screen and (min-width: 768px){
 .star span{
    width: 8rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px){
 .star span{
    width: 10rem;
  }
}